@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #240000;
}

nav {
  padding: 0 30px;
  background-color: #240000;
  height: 120px;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
}

.logo-badge {
  height: 100px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.logo {
  height: 68px;
  width: 68px;
}

.logo img {
  width: inherit;
}

.logo-title {
  color: #ebbb10;
  font-family: 'Merriweather', serif;
  margin-left: 20px;
}

.nav-items {
  display: flex;
  place-items: center;
}

.nav-item {
  margin-right: 28px;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 16px;
  transition: all .2s;
  font-family: 'Poppins', sans-serif;
}

.nav-item:hover {
  border-radius: 15px;
  text-decoration: underline;
}

.nav-item.active {
  border-radius: 15px;
}

.nav-item a {
  color: #ebbb10;
  opacity: .6;
  transition: all .2s;
}

.nav-item:hover a {
  color: #ebbb10;
  opacity: 1;
}

.nav-item.active a {
  color: #ebbb10;
  opacity: 1;
}

.nav-item.active a span {
  font-size: 24px;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown a {
  display: flex;
  align-items: center;
}

.nav-dropdown a img {
  height: 26px;
  width: 26px;
}

.nav-dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items {
  display: none;
  position: absolute;
  width: 110%;
  background-color: #240000;
  border-radius: 10px;
  padding-top: 10px;
  z-index: 1;
}

.dropdown-item {
  padding: 5px 15px 5px 10px;
  height: 50px;
}

.dropdown-item a {
  font-size: 15px;
  line-height: 35px;
  padding-left: 10px;
  opacity: .6 !important;
}

.dropdown-item a:hover {
  background-color: #340000;
  border-radius: 10px;
  opacity: 1 !important;
}

.dropdown-item.active a {
  vertical-align: baseline;
  opacity: 1 !important;
}

.dropdown-item.active a span {
  font-size: 22px;
}

.dropdown-icon {
  filter: invert(75%) sepia(91%) saturate(1096%) hue-rotate(356deg) brightness(97%) contrast(91%);
}

main {
  background: rgb(36,0,0);
  background: -moz-linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(52,0,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(52,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(52,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#240000",endColorstr="#340000",GradientType=1);
  padding-top: 120px;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 600px;
}

.hero-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.overlay .welcome-text {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Smooch Sans', sans-serif;
  color: #f8f8f8;
  width: 90%;
}

.welcome-text h1 {
  letter-spacing: .05em;
  font-size: 42px;
}

.welcome-text p {
  width: 80%;
  margin-top: 15px;
  font-size: 26px;
  color: #ddd;
}

.welcome-text .explore-more {
  margin-top: 20px;
  padding: 10px 0;
  transition: all .2s;
  display: flex;
  align-items: center;
}

.welcome-text .explore-more a {
  font-size: 28px;
  color: #ddd;
}

.explore-more a:hover {
  color: #f8f8f8;
  text-decoration: underline;
}

.right-arrow {
  height: 20px !important;
  width: 30px !important;
  filter: invert(94%) sepia(49%) saturate(1%) hue-rotate(333deg) brightness(108%) contrast(95%);
  margin-left: 10px;
}

.container {
  padding: 30px 0;
  width: 90%;
  margin: auto;
}

.sub-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ebbb10;
}

.benefit-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 0 20px;
  margin: 40px auto;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-icon {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: rgba(87, 49, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.benefit-icon:hover {
  background-color: rgba(87, 49, 0, .5);
}

.benefit-icon img {
  width: 80%;
  filter: invert(75%) sepia(91%) saturate(1096%) hue-rotate(356deg) brightness(97%) contrast(91%);
  opacity: .8;
}

.benefit-icons h3 {
  font-family: 'Montez', cursive;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #ebbb10;
}

.showcase {
  display: flex;
  align-items: center;
  margin: 50px auto;
  gap: 80px;
}

.showcase-img {
  height: 250%;
  width: 250%;
}

.showcase-img img {
  border: 2px solid #ebbb10;
  border-radius: 25px;
  width: 100%;
}

.showcase-title {
  color: #f8f8f8;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.showcase-body {
  padding-top: 20px;
  width: 90%;
  color: #ddd;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.showcase-img.left {
  order: 1;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  border: 2px solid #340000;
  border-radius: 8px;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 26px;
  background: none;
  color: #f8f8f8;
  padding: 8px 24px;
  transition: all .2s;
}

.btn:hover {
  border: 2px solid #ebbb10;
  color: #ebbb10;
}

.btn-uniform {
  border: 2px solid #240000;
}

.btn-form {
  display: flex;
  justify-content: flex-end;
}

footer {
  width: 100%;
  background-color: #540000;
  color: #ebbb10;
}

.footer-top {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.footer-title {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
}

.footer-links {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-media {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  opacity: .8;
}

.footer-media:hover {
  opacity: 1;
}

.footer-media img {
  width: 100%;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  background-color: #240000;
  padding: 20px 40px;
}

/* Classes */
.overlay .classes-title {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Smooch Sans', sans-serif;
  color: #ebbb10;
  background-color: rgba(36, 0, 0, .9);
}

.classes-title h1 {
  text-align: center;
  font-size: 90px;
}

.classes-title h3 {
  opacity: .7;
  text-align: center;
  font-size: 28px;
  padding: 10px 20px;
}

.head-title {
  text-align: center;
  font-family: 'RaleWay', sans-serif;
  color: #ebbb10;
  margin: 40px 0;
}

.classes-container {
  padding: 30px 0;
  margin-bottom: 120px;
}

.classes-cards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;
}

.classes-card {
  position: relative;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-title {
  width: 50%;
  height: 80px;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-content {
  margin: 20px auto;
  width: 100%;
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-body {
  height: 600px;
  padding-top: 20px;
}

.card-footer {
  margin-top: 50px;
  padding-top: 30px;
}

.card-body-duration {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  row-gap: 28px;
  padding: 10px 30px;
  color: #240000;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 30px;
}

.card-body-duration img {
  height: 44px;
  width: 44px;
}

.dance-moves {
  font-size: 26px;
  padding: 5px 20px;
  line-height: 48px;
}

.join-btn {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
  transition: all .2s;
}

.join-btn:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.join-text {
  width: 100%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.card-title.beginner, .card-content.beginner, .join-btn.beginner {
  background-color: #ebbb10;
}

.card-title.intermediate, .card-content.intermediate, .join-btn.intermediate {
  background-color: #9F2E34;
}

.card-title.advanced, .card-content.advanced, .join-btn.advanced {
  background-color: #53277E;
}

.events, .how-to-join {
  width: 90%;
  margin: auto;
  padding: 45px 0;
}

.events-title, .how-to-join-title {
  font-family: 'Raleway', sans-serif;
  color: #ebbb10;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.how-to-join-title h2 {
  padding-left: 10px;
}

.events-title img {
  cursor: pointer;
  margin-left: 30px;
  filter: invert(75%) sepia(91%) saturate(1096%) hue-rotate(356deg) brightness(97%) contrast(91%);
}

.showcase.event {
  padding: 20px 28px;
  background-color: #340000;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all .2s;
}

.showcase.event:hover {
  background-color: #440000;
}

.showcase-img.event {
  height: 200%;
  width: 200%;
}

.showcase-img.event img {
  border: 2px solid #ebbb10;
  border-radius: 15px;
}

.see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  padding-top: 30px;
}

.see-more img {
  height: 70px;
  width: 140px;  
  filter: invert(89%) sepia(73%) saturate(0%) hue-rotate(113deg) brightness(97%) contrast(80%);
}

.see-more-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .8;
}

.see-more-btn:hover {
  opacity: 1;
}

.join-form {
  margin: 30px 0;
  width: 100%;
  color: #1b1b1b;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.join-left {
  padding: 40px 20px;
  background-color: #ebbb10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-icon {
  border-radius: 50%;
  border: 4px solid #240000;
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

.join-arrow {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #240000;
  padding-left: 2px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.join-right {
  padding: 60px 20px 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  align-items: center;
}

.join-label {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding-left: 20px;
}

.join-label::after {
  content: '*';
  color: red;
  font-size: 20px;
  padding-left: 2px;
}

.join-input, .join-textarea, .contact-select {
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #d4d4d4;
  border: 2px solid #bebebe;
  border-radius: 10px;
  height: 45px;
  padding-left: 20px;
  transition: all .2s;
  outline: none;
}

.join-input:active, .join-input:focus, .join-textarea:active, .join-textarea:focus, .contact-select:active, .contact-select:focus {
  border: 2px solid #bebebe;
  background: #ddd;
}

.join-input:valid, .join-textarea:valid {
  background: none;
  border: 2px solid #009600;
}

.join-input:not(:placeholder-shown):invalid, .join-textarea:not(:placeholder-shown):invalid {
  background: none;
  border: 2px solid red;
}

.join-input.dob:not(:placeholder-shown):invalid {
  background-color: #d4d4d4;
  border: 2px solid #bebebe;
}

.join-input.dob {
  color: #636c72 ;
  padding-right: 20px;
}

.join-radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.join-radio div {
  display: flex;
  align-items: center;
}

.join-radio label {
  margin-right: 22px;
}

.join-radio input[type="radio"] {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: #bebebe;
  border-radius: 50%;
  transition: all .1s;
}

.join-radio input[type="radio"]:checked {
  box-shadow: 0 0 0 1px #d4d4d4;
  background-color: #ebbb10;
  border-width: 0.2rem;
}

.join-radio input[type="radio"]:focus-visible {
  outline-offset: 0;
}

.join-radio.radio-class-type {
  color: #240000;
  font-size: 18px;
  font-weight: 600;
}

.join-radio.radio-class-type div label {
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: all .2s;
  margin-top: 10px;
  margin-bottom: 20px;
}

.join-radio.radio-class-type div label.beginner {
  border: 2px solid #ebbb10;
}
.join-radio.radio-class-type div label.intermediate {
  border: 2px solid #9F2E34;
}
.join-radio.radio-class-type div label.advanced {
  border: 2px solid #53277E;
  margin-bottom: 28px;
}

.join-radio.radio-class-type div label.beginner:hover {
  background-color: #ebbb10;
  color: #f8f8f8;
}
.join-radio.radio-class-type div label.intermediate:hover {
  background-color: #9F2E34;
  color: #f8f8f8;
}
.join-radio.radio-class-type div label.advanced:hover {
  background-color: #53277E;
  color: #f8f8f8;
}

.join-textarea {
  padding: 10px 20px;
  resize: none;
  height: auto;
}

.join-btn-gp {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  grid-column: span 2;
}

.join-clear {
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 5px;
  background: none;
  font-size: 18px;
  border: 2px solid #bebebe;
  color: #bebebe;
  margin-right: 30px;
}

.join-clear:hover {
  background-color: #bebebe;
  color: #1b1b1b;
}

.join-reg {
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 5px;
  background: #ebbb10;
  font-size: 18px;
  border: 2px solid #ebbb10;
  color: #240000;
}

.join-reg:hover {
  border: 2px solid #240000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.who-are-we {
  display: grid;
  grid-template-columns: minmax(560px, 1fr) 1fr;
  width: 90%;
  margin: 80px auto;
}

.who-left {
  position: relative;
  height: 500px;
}

.who-bot-img, .who-top-img {
  width: 270px;
}

.who-bot-img img, .who-top-img img {
  filter: brightness(80%);
  border-radius: 10px;
  width: 100%;
  transition: all .2s;
}

.who-bot-img img:hover, .who-top-img img:hover {
  filter: brightness(100%);
}

.who-bot-img {
  left: 80px;
  position: relative;
}

.who-top-img {
  right: 80px;
  top: 130px;
  position: absolute;
}

.who-right {
  padding-top: 50px;
  padding-right: 20px;
  font-family: 'RaleWay', sans-serif;
}

.about-title {
  color: #ebbb10;
  font-size: 45px;
}

.who-right p {
  color: #ddd;
  padding-top: 20px;
}

.visit-us {
  width: 90%;
  margin: auto;
  padding: 70px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: center;
}

.visit-info {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(235, 187, 16, .6);
}

.visit-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 18px;
  color: #ddd;
  font-size: 17px;
  font-weight: 500;
}

.visit-data p {
  margin-left: 30px;
}

.visit-data p a {
  color: #ddd;
}

.visit-icon {
  width: 36px;
  filter: invert(95%) sepia(1%) saturate(3741%) hue-rotate(242deg) brightness(116%) contrast(66%);
}

.visit-icon img {
  width: 100%;
}

.visit-right {
  width: 65%;
}

.visit-right img {
  width: 100%;
}

.featured-vid {
  margin: 60px auto;
  width: 90%;
}

.featured-vid iframe {
  margin-top: 25px;
}

.about-tutors {
  width: 90%;
  margin: 90px auto;
}

.about-tutors .about-title {
  text-align: center;
}

.tutors {
  background-color: #440000;
  padding: 60px 40px;
  border-radius: 10px;
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
}

.tutor-img {
  width: auto;
  margin: auto;
  filter: brightness(80%);
}

.tutor:hover .tutor-img {
  filter: brightness(100%);
}

.tutor-img img {
  width: 100%;
  border-radius: 50%;
}

.tutor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutor-info h3 {
  cursor: default;
  font-size: 26px;
  color: #f8f8f8;
  font-family: 'Smooch', sans-serif;
  margin: 20px 0;
  transition: all .2s;
}

.tutor-info h3:hover {
  transform: scale(110%);
}

.tutor-social {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.tutor-media {
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  filter: invert(95%) sepia(1%) saturate(3741%) hue-rotate(242deg) brightness(116%) contrast(66%);
  transition: all .2s;
}

.tutor-media:hover {
  filter: invert(100%) sepia(78%) saturate(17%) hue-rotate(210deg) brightness(108%) contrast(95%);
}

.tutor-media img {
  width: 100%;
}

.contact-us {
  width: 90%;
  margin: auto;
  padding: 45px 0;
}

.contact-us h2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.contact-us h2 img {
  width: 40px;
  margin-left: 10px;
}

.contact-form {
  margin-top: 30px;
  padding: 45px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 40px;
  align-items: center;
  background-color: #f2f2f2;
  color: #1b1b1b;
  border-radius: 10px;
}

.contact-form h1 {
  grid-column: span 2;
}

.contact-input .join-label {
  padding: 0;
}

.contact-input .join-input, .contact-select, .contact-input .join-textarea {
  width: 100%;
  margin-top: 10px;
}

.contact-input.msg {
  grid-column: span 2;
}

.contact-select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .1s;
  color: #1b1b1b;
}

.contact-select:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.contact-select[data-chosen='beginner'], .contact-select[data-chosen='intermediate'], .contact-select[data-chosen='advanced'] {
  border-radius: 10px;
}

.contact-select option {
  font-size: 18px;
}

.join-btn-gp.contact {
  width: 100%;
  margin-top: 25px;
}

.contact-where {
  width: 90%;
  margin: auto;
  padding: 60px 0 100px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.contact-where .box {
  padding: 50px;
  border-radius: 10px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.contact-info h3 a, .contact-info h3 {
  color: #1b1b1b;
  text-align: center;
}

.contact-logo {
  width: 42px;
}

.contact-logo img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  /* For tablets: */
  main {
    padding-top: 160px;
  }
  nav {
    display: block;
    height: 160px;
  }
  .logo-badge {
    justify-content: center;
  }
  .nav-items {
    justify-content: center;
  }
  .nav-item {
    margin-right: 20px;
  }
  .welcome-text h1 {
    font-size: 38px;
  }
  .welcome-text p {
    font-size: 22px;
  }
  .welcome-text .explore-more a {
    font-size: 24px;
  }
  .benefit-icons {
    grid-template-columns: 1fr;
  }
  .benefit-icon {
    width: 240px;
    height: 240px;
  }
  .showcase {
    display: block;
  }
  .showcase .showcase-img {
    width: 500px;
    margin: 50px auto;
  }
  .showcase .showcase-content {
    margin: 50px auto;
  }
  .footer-links {
    gap: 8px;
  }
  .classes-title h1 {
    font-size: 50px;
  }
  .classes-title h3 {
    font-size: 22px;
  }
  .classes-cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 28px;
  }
  .card-title {
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
  }
  .card-content {
    font-size: 50px;
  }
  .card-body {
    height: 560px;
    padding-top: 20px;
  }
  .card-body-duration {
    font-size: 30px;
  }
  .card-body-duration img {
    height: 40px;
    width: 40px;
  }
  .dance-moves {
    line-height: 40px;
  }
  .join-btn {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    transition: all .2s;
  }
  .join-right {
    grid-template-columns: 1fr 3fr;
  }
  .join-text {
    font-size: 22px;
  }
  .join-input, .join-textarea {
    width: 100%;
  }
  .join-label {
    padding-left: 0;
  }
  .who-left {
    grid-column: span 2;
  }
  .who-right {
    grid-column: span 2;
  }
  .visit-us {
    align-items: center;
  }
  .tutors {
    grid-template-columns: 1fr 1fr;
  }
  .tutor-img {
    width: 220px;
  }
  .contact-where {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 640px) {
  /* For mobiles: */
  main {
    padding-top: 0;
  }
  nav {
    height: 275px;
    position: static;
  }
  .logo-title {
    font-size: 15px;
  }
  .nav-items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .nav-dropdown {
    grid-column: span 2;
  }
  .dropdown-items {
    left: 0;
  }
  .welcome-text h1 {
    font-size: 35px;
  }
  .welcome-text p {
    font-size: 20px;
  }
  .welcome-text .explore-more a {
    font-size: 22px;
  }
  .showcase .showcase-img {
    width: 280px;
    margin: 70px auto;
  }
  .showcase.event {
    padding: 20px 2px;
  }
  .showcase-content {
    padding: 0 10px;
  }
  .footer-top {
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
  }
  .footer-title {
    text-align: center;
  }
  .footer-links-container {
    margin: 60px 0;
  }
  .footer-links {
    gap: 5px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer-links .nav-item {
    margin: 0;
  }
  .footer-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-media {
    margin-left: 25px;
    height: 36px;
    width: 36px;
  }
  .classes-title h1 {
    font-size: 42px;
  }
  .classes-title h3 {
    font-size: 22px;
  }
  .classes-cards {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }
  .card-title {
    width: 70%;
  }
  .card-content {
    font-size: 34px;
  }
  .card-body-duration {
    grid-template-columns: 1fr;
    justify-items: flex-start;
    row-gap: 15px;
  }
  .card-body-duration h4 {
    font-size: 26px;
    padding-left: 18px;
    padding-bottom: 20px;
  }
  .join-btn {
    width: 80%;
  }
  .events-title img {
    margin-left: 20px;
  }
  .how-to-join-title {
    display: block;
  }
  .how-to-join-title h2 {
    padding-left: 0;
    padding-top: 5px;
  }
  .join-form {
    display: flex;
    flex-direction: column;
  }
  .join-left {
    width: 100%;
    padding: 25px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    text-align: center;
  }
  .join-icon {
    height: 200px;
    width: 200px;
  }
  .join-arrow {
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
  }
  .join-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    padding: 40px 20px 60px 20px;
  }
  .join-input {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .join-textarea {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
  .join-btn-gp {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
  .join-clear {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .who-are-we {
    grid-template-columns: minmax(310px, 1fr) 1fr;
  }
  .who-bot-img, .who-top-img {
    width: 240px;
  }
  .who-bot-img {
    left: 10px;
  }
  .who-top-img {
    top: 180px;
    right: 10px;
  }
  .who-right {
    margin-top: 50px;
  }
  .visit-info {
    padding: 20px 15px;
  }
  .visit-us {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .visit-right {
    width: 50%;
  }
  .tutors {
    grid-template-columns: 1fr;
  }
  .tutor-img {
    width: 200px;
  }
  .how-to-join-title h2 {
    margin-left: 0;
  }
  .contact-form {
    gap: 0;
  }
  .contact-form h1 {
    margin-bottom: 18px;
  }
  .contact-input {
    grid-column: span 2;
  }
  .contact-input.msg {
    margin-top: 20px;
  }
  .join-btn-gp.contact {
    margin-top: 0;
  }
  .contact-where .box {
    padding: 40px 20px;
  }
}