body {
  background-color: #240000;
  color: #ebbb10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* https://www.dancewearcentral.co.uk/blog/dance-exams-ballet-uniform-dancewear-requirements/ */

/* <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zV1qLYukTH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> */